[submodule "FlexViewPager"]
	path = FlexViewPager
	url = https://github.com/dreamgyf/FlexViewPager.git
[submodule "MarqueeTextView"]
	path = MarqueeTextView
	url = https://github.com/dreamgyf/MarqueeTextView.git
[submodule "ShapeLayout"]
	path = ShapeLayout
	url = https://github.com/dreamgyf/ShapeLayout.git
[submodule "SpaceItemDecoration"]
	path = SpaceItemDecoration
	url = https://github.com/dreamgyf/SpaceItemDecoration.git
[submodule "SwipeLoadingLayout"]
	path = SwipeLoadingLayout
	url = https://github.com/dreamgyf/SwipeLoadingLayout.git
